#title{
    font-size: 2rem;
    text-align: center;
    color: coral;
}
#description{
    font-size: 1rem;
    text-align: center;
    color: darksalmon;
}
#survey-fomr{
    font-size: 1rem;
    text-align: center;
    color: darksalmon;
}
#name{
    font-size: 1rem;
    text-align: left;
    color: darkslategray;
}
#email{
    font-size: 1rem;
    text-align: left;
    color: darkslategray;
}
input{
    border-radius: 1rem;
}
